---
import Layout from '../layouts/Layout.astro';
import WeatherApp from '../components/WeatherApp';
import '../style/global.css'
---

<Layout title="Google Weather App">
  <main class="min-h-screen">
    <WeatherApp client:load />
  </main>
</Layout>